@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.analyticPage {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: yellowgreen;
}
