@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.card1 {
    height: 65%;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $border;

    @include breakpoint-mixin('laptop-wide') {
        height: 70%;
    }
}
