@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.AppearanceOpt-page {
    height: 100%;
    width: 90%;
    @include flex-column;
    align-items: center;
    padding-left: 5px;
    overflow-y: auto;
    flex-flow: wrap;
    padding-right: 45px;

    .page-title {
        height: 9vh;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;

        @include breakpoint-mixin('laptop-wide') {
            font-size: 18px;
        }
        @include breakpoint-mixin('desktop') {
            font-size: 20px;
        }
    }

    .option-title {
        height: 9vh;
        width: 100%;
        display: flex;
        align-items: center;

        @include breakpoint-mixin('laptop-wide') {
            font-size: 16px;
        }

        @include breakpoint-mixin('desktop') {
            font-size: 17px;
            height: 8vh;
        }
    }

    .option-container {
        height: 26vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @include breakpoint-mixin('desktop') {
            font-size: 17px;
            height: 26vh;
        }
    }
}

.AppearanceOpt-page::-webkit-scrollbar {
    @include scroll-bar;
}

.AppearanceOpt-page::-webkit-scrollbar-thumb {
    @include scroll-thumb;
}

// .option-title {
//     height: 10%;
//     width: 100%;
//     display: flex;
//     align-items: center;

//
// }
// .option-block {
//     height: 25%;
//     width: 100%;
//     display: flex;
//     // background-color: orange;
// }

// .option-block-desc {
//     width: 100%;
//     height: 10%;
//     display: flex;

//     .desc-theme {
//         width: 40%;
//         margin-right: 25px;
//         background-color: aqua;
//         padding-left: 10px;
//         display: flex;
//         align-items: center;

//         @include breakpoint-mixin('laptop-wide') {
//             font-size: 16px;
//         }

//         @include breakpoint-mixin('desktop') {
//             font-size: 17px;
//         }

//         #check {
//             margin-right: 10px;
//             color: $positiveBTN;

//             @include breakpoint-mixin('desktop') {
//                 margin-right: 10px;
//             }
//         }

//         @include breakpoint-mixin('laptop-wide') {
//             margin-right: 50px;
//             width: 35%;
//         }
//         @include breakpoint-mixin('desktop') {
//             margin-right: 70px;
//             width: 30%;
//         }
//     }
// }
