@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.ExportOpt-page {
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
