@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.landingPage {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url('../Assests/landscape.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow-y: none;
}
