@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.lib-page {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

    .lib-page__search-section {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .search-section__search-bar {
            height: 78%;
            width: 50%;
            // background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            // overflow: hidden;
            cursor: pointer;
            // box-shadow: 5px 5px 5px $boxShadow;
            // border: 1px solid $border;

            @include breakpoint-mixin('laptop-wide') {
                height: 75%;
                width: 40%;
            }

            @include breakpoint-mixin('desktop') {
                height: 65%;
                width: 35%;
            }

            #search-icon {
                color: white;
                padding: 5px;
                background-color: $icons-light;
                // align-items: center;
                border-radius: 5px;

                @include breakpoint-mixin('laptop-wide') {
                    padding: 7px;
                }

                @include breakpoint-mixin('desktop') {
                    padding: 10px;
                }
            }

            input {
                width: 60%;
                height: 95%;
                border: none;
                outline: none;
                font-size: 15px;
                background-color: transparent;

                // background-color: yellowgreen;
                // text-align: center;

                @include breakpoint-mixin('laptop-wide') {
                    font-size: 17px;
                }
            }

            .search-bar__drop-part {
                height: 80%;
                width: 25%;
                font-size: 15px;
                border-left: 2px solid $border;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: relative;

                // background-color: orange;

                .drop-part__drop {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 150%;
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    // background-color: white;
                    height: fit-content;
                    box-shadow: 5px 5px 5px $boxShadow;
                    // z-index: -1;

                    p {
                        padding-left: 15px;
                        width: 100%;
                        font-size: 15px;
                        // background-color: orange;
                    }

                    .drop__option {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                        cursor: pointer;
                        // background-color: orange;
                        // justify-content: center;
                    }

                    .active {
                        background-color: $icons-light;
                        color: $positiveBTN;
                    }
                }

                @include breakpoint-mixin('laptop-wide') {
                    font-size: 17px;
                }

                .arrow {
                    // color: black;
                    font-size: 25px;
                    border-radius: 5px;
                    padding: 0.5px;
                    transform: rotate(-90deg);
                    transition: all 0.5s ease;

                    @include breakpoint-mixin('laptop-wide') {
                        padding: 1px;
                    }
                    @include breakpoint-mixin('desktop') {
                        padding: 2px;
                    }
                }

                .arrowActive {
                    transition: all 0.5s ease;
                    transform: rotate(0deg);
                }

                .arrow:hover {
                    background-color: $icons-light;
                    color: white;
                }
            }
        }

        .search-section__searchBar:hover {
            border: 2px solid $border;
        }
    }

    .lib-page__bookSection {
        min-height: 90vh;
        width: 90%;
        padding: 20px 20px 100px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 50px;
        overflow-y: scroll;

        @include breakpoint-mixin('laptop-wide') {
            width: 80%;
            gap: 75px;
        }

        @include breakpoint-mixin('desktop') {
            gap: 150px;
        }
    }

    .margin {
        margin-top: 250px;
    }

    .lib-page__bookSection::-webkit-scrollbar {
        display: none;
    }
}
