@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url('../Assests/landscape.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow-y: none;

    .login-page__form {
        height: 100vh;
        width: 50%;
        @include flex-column;
        align-items: center;
        justify-content: center;
        background-color: $background-dark;
        border-radius: 0px 25px 25px 0px;
        transform: translateX(-100%);
        transition: transform 2s;

        @include breakpoint-mixin('laptop-wide') {
            width: 44%;
        }

        @include breakpoint-mixin('desktop') {
            width: 35%;
        }

        .form__details {
            width: 80%;
            height: 88%;
            @include flex-column;
            justify-content: center;
            padding-top: 30px;

            @include breakpoint-mixin('laptop-wide') {
                height: 90%;
            }
        }
        .form__socials {
            width: 80%;
            height: 12%;
            display: flex;
            align-items: center;

            @include breakpoint-mixin('laptop-wide') {
                height: 10%;
            }

            p {
                border-left: 1.5px solid $border;
                padding-left: 20px;
                font-size: 16px;
                color: white;
                opacity: 0.7;
            }
        }
    }

    .slide {
        transform: translateX(0%);
    }
}
