@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.navBar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 5;
    top: 1%;
    transition: transform 1s;
    width: 95px;
    height: 65vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    border: 1px solid $border;

    @include breakpoint-mixin('laptop-wide') {
        width: 115px;
    }

    @include breakpoint-mixin('desktop') {
        width: 125px;
        height: 55vh;
    }

    .toggleTag {
        position: absolute;
        padding: 5px;
        border: 1px solid $border;
        top: -1px;
        left: 105%;
        border-radius: 10px;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint-mixin('laptop-wide') {
            padding: 7px;
        }

        #icon {
            font-size: 18px;
        }
        #icon {
            font-size: 18px;

            @include breakpoint-mixin('desktop') {
                font-size: 20px;
            }
        }
    }

    .circleOpt {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include breakpoint-mixin('desktop') {
            height: 27%;
        }

        .circle {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;

            @include breakpoint-mixin('laptop-wide') {
                width: 80px;
                height: 80px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .circle:hover {
            border: 2px solid $positiveBTN;
            transition: all 0.1s ease-in-out;
            transform: scale(1.05);
        }
    }

    .navOpt {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all;

        .icon {
            font-size: 25px;
            border-radius: 5px;
            padding: 5px;
        }
        .icon:hover {
            transition: all 0.5s ease;
            transform: scale(1.2);
        }

        .active {
            color: $positiveBTN;
        }
    }
}

.show {
    transform: translateX(5%);
}
