@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.quoteBanner {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    #Quote {
        width: 80%;
        font-size: 28px;
        text-align: center;

        @include breakpoint-mixin('laptop-wide') {
            width: 85%;
            font-size: 35px;
        }

        @include breakpoint-mixin('desktop') {
            width: 85%;
            font-size: 40px;
        }
    }
}
