@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.card {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: $border;
    border-radius: 50%;

    @include breakpoint-mixin('laptop-wide') {
        height: 45px;
        width: 45px;
    }
}
