@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.boardContainer {
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .calenderContainer {
        width: 95%;

        .react-calendar-heatmap text {
            font-size: 7px;
            fill: #aaa;
        }
    }
}

.boardContainer:hover {
    border: 2px solid $border;
    transition: all 1s ease;
    transform: scale(1.05);
}
