@import '../Styling/Breakpoints.scss';
@import '../Styling/Theme.scss';

.structure-example-container {
    // width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
    margin-right: 25px;
    // background-color: orange;

    @include breakpoint-mixin('laptop-wide') {
        margin-right: 50px;
        // width: 35%;
    }

    @include breakpoint-mixin('desktop') {
        margin-right: 40px;
        // width: 30%;
    }

    .structure-example {
        height: 80%;
        width: fit-content;
        border-radius: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $border;
        cursor: pointer;
        padding: 0px 5px 0px 5px;
        // background-color: red;

        @include breakpoint-mixin('desktop') {
            padding: 0px 10px 0px 10px;
            // width: 30%;
        }

        .bookContainer {
            height: 80%;
            width: 65px;
            margin: 0px 10px 0px 10px;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid $border;

            @include breakpoint-mixin('laptop-wide') {
                width: 75px;
                // width: 35%;
            }

            @include breakpoint-mixin('desktop') {
                height: 75%;
                width: 80px;
                // width: 35%;
            }

            .upper {
                height: 55%;
                width: 100%;
                margin-bottom: auto;
                background-color: red;
            }

            .light {
                background-color: $hover-light;
            }
            .dark {
                background-color: $hover-dark;
            }
        }

        .light {
            background-color: $card-background-light;
        }
        .dark {
            background-color: $card-background-dark;
        }
    }

    .active-mode {
        border: 2px solid $positiveBTN;
    }

    .light {
        background-color: $background-light;
    }
    .dark {
        background-color: $background-dark;
    }

    .structure-example:hover {
        border: 2px solid $positiveBTN;
        transition: all 0.5s ease;
        transform: scale(1.02);
    }

    .block-name {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding-left: 10px;

        @include breakpoint-mixin('laptop-wide') {
            font-size: 16px;
        }

        @include breakpoint-mixin('desktop') {
            font-size: 17px;
        }

        #check {
            margin-right: 10px;
            color: $positiveBTN;

            @include breakpoint-mixin('desktop') {
                margin-right: 10px;
            }
        }
    }
}
