/*
THEME BLOCK
*/

//Light Theme
$background-light: #e5e5e5;
$card-background-light: white;
$hover-light: #d9d9d9;
$icons-light: #3e445c;
$icons-dark: white;

//Dark Theme
$background-dark: #121212;
$card-background-dark: #171717;
$hover-dark: #3e445c;

//Positive & Negative
$positiveBTN: #3fcdfc;
$negativeBTN: #ff4a4a;

//Border & Shadow
$border: #78747476;
$boxShadow: rgba(50, 49, 49, 0.561);

//Scroll-thumb
$thumb: rgba(33, 33, 33, 0.614);

/*
THEME CLASS BLOCK
*/

.bg-dark {
    background-color: $background-dark;
}
.bg-light {
    background-color: $background-light;
}

.cd-light {
    background-color: $card-background-light;
}
.cd-dark {
    background-color: $card-background-dark;
}

.hover-dark {
    background-color: $hover-dark;
}
.hover-light {
    background-color: $hover-light;
}

.text-dark {
    color: white;
}

.icon-dark {
    color: $icons-dark;
}
.icon-light {
    color: $icons-light;
}

/*
Common Styles
*/
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin scroll-bar {
    width: 15px;
    height: 100%;
    background-color: transparent;
}

@mixin scroll-thumb {
    background-color: $thumb;
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    height: 120px;
    // border: 3px solid orange;
}
